<div class="show-header">
  <%= image_tag("dumbbell.png", class: 'icon-header') %>
  <h3 class="database-headline">Fitness</h3>
  <h5 class="data-headline" id="fitness">NEW ENTRY</h5>
</div>
<br>
<%= render :partial => 'form' %>