<div class="show-header">
  <%= image_tag("blood.png", class: 'icon-header') %>
  <h3 class="database-headline">Period</h3>
  <h5 class="data-headline" id="period">EDIT ENTRY</h5>
</div>
<%= render :partial => 'form' %>