<div class="show-header">
  <%= image_tag("heartbeat.png", class: 'icon-header') %>
  <h3 class="database-headline">Health</h3>
  <h5 class="data-headline" id="health">EDIT ENTRY</h5>
</div>
<br>
<%= render :partial => 'form' %>