<div class="modal-mask">
  <div class="delete-modal">
    <div class="delete-header">Delete?</div>
    <p class="delete-text"><%= link_to 'Delete', '#', method: 'Delete', class: 'modal-delete-button' %></p>
    <p class="delete-text"><a href="#" class="modal-cancel-button">Cancel</a></p>
  </div>
</div>