<div id="homepage-container">
  <div id="name">dataDiary</div>
  <%= image_tag("logo.png") %>  
  <h5>Your lifestyle organizer for everyday data.</h5>
  <div class="link"><%= link_to 'Login', login_path %></div>
</div>