<div class="show-header">
  <%= image_tag("money.png", class: 'icon-header') %>
  <h3 class="database-headline">Finance</h3>
  <h5 class="data-headline" id="finance">NEW ENTRY</h5>
</div>

<%= render :partial => 'form' %>